/* CSS reset */

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Bendrieji */

h1{
	font-size: 2em;
}

h2{
	font-size: 1.8em;
}


.container{
	width: 40%;
    margin-left: auto;
    margin-right: auto;
}



/* HEADER */

header {
    color: white;
    text-align: center;
}

header h2, header h1 {
    margin: 1em;
}



.header-image {
    background: url("https://images.unsplash.com/photo-1562184760-a11b3cf7c169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.header-color {
    background-color: rgba(223, 73, 73, 0.6);
    padding: 3em 0;
}

.header-text h2 {
    text-align: left;
}

header a {
    text-decoration: none;
    color: white;
    background: rgb(52, 71, 90);
    padding: 0.5em 2em;
    border-radius: 2em;
}

header p {
    margin-top: 2em;
    margin-bottom: 1em;
}

header i {
    font-size: 4em;
}





/* ASIDE */

aside{
    background-color: rgb(52, 71, 90);
    text-align: center;
    padding: 0.8em;
}

aside li {
    display: inline-block;
    width: 32%;
}

.aside-text{
    color: white;
    line-height: 2.5em;
}

aside i{
    font-size: 2em;
    padding: 0.5em 0;
}

aside a {
    text-decoration: none;
    color: rgb(224, 110, 110);
}

aside a, aside h3 {
    padding: 0em;
}




/* MAIN */
article {
    margin: 1em 0;
}

article>section {
    padding: 0.8em;
}

article p,a {
    font-size: 0.9em;
}

article h3 {
    font-weight: 700;
}

article p {
    color: gray;
    margin: 1.2em 0;
    line-height: 1.5em;
}

article a {
    text-decoration: none;
    color: white;
    background: rgb(224, 110, 110);
    padding: 0.5em 2em;
    border-radius: 2em;
    font-size: 0.6em;
}

article img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.article-image {
    background: url("https://images.unsplash.com/photo-1544133065-4c9fe678b4dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.article-color {
    background: rgba(255, 255, 255, 0.8);
   
}









/* FOOTER*/

footer .container {
    width: 60%;
}

footer {
    background-color: rgb(52, 71, 90);
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

footer section {
    display: inline-block;
    width: 30%;
    margin: 1em 5em;
    text-align: left;
}

footer section.container {
    text-align: center;
}

footer p {
    padding-top: 2em;
}

footer i, footer h4 {
    display: inline;
    font-size: 1.2em;
}

footer i {
    padding-right: 1.5em;
}


